.red {
  border-color: red !important;
  background-color: red !important;
  z-index: 1;
  /* border-style: solid;
  border-width: 3px; */
}
.outer {
  width: 100%;
}
.align-centre {
  position: relative !important;
  margin: 0 auto !important;
}
/* NAVBAR STYLING */
.centre {
  text-align: center !important;
  display: inline;
  position: relative;
  margin: 0 auto;
}

/* COMMENTS STYING */
.comment-box {
  width: 99%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2%;
  border-color: green !important;
  padding: 1px 0px 1px 10px;
}
.between-comments {
  margin-bottom: 4px !important;
}
.comment-user-name {
  width: 100%;
  text-align: left;
  border: none !important;
}
.comment-votes {
  width: 100%;
  text-align: right;
  border: none !important;
}
.comment-votes-change {
  width: 100%;
  text-align: center;
  border: none !important;
}
.comment-body {
  width: 100%;
  text-align: left;
  border: none !important;
}

/* USERS STYLING */
.users {
  text-align: center;
}
/* ARTICLES STYLING */
.articles-box-width {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding: 0 0 0 0 !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 2%;
  border-color: black !important;
}
.article-name {
  padding-left: 3%;
  width: 100%;
  text-align: left;
  border: none !important;
}
.article-created-by {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-belongs-to {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-votes {
  width: 100%;
  text-align: right;
  border: none !important;
}
.article-votes-change {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-comments {
  padding-left: 1%;
  width: 100%;
  text-align: left;
  border: none !important;
}
.article-comments-add-delete {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-body {
  padding-left: 1%;
  padding-right: 1%;
}
.between-articles {
  margin-bottom: 10px !important;
}
