.red {
  border-color: red !important;
  background-color: red !important;
  z-index: 1;
  /* border-style: solid;
  border-width: 3px; */
}
.outer {
  width: 100%;
}
.align-centre {
  position: relative !important;
  margin: 0 auto !important;
}

/* VOTES STYING */
.up-vote {
  color: rgb(9, 215, 9) !important;
}
.up-vote:hover {
  color: rgb(6, 143, 6) !important;
}
.down-vote {
  color: rgb(237, 14, 14) !important;
}
.down-vote:hover {
  color: rgb(174, 4, 4) !important;
}

/* COMMENT INTERACTIONS STYLING */
.delete-comment {
  color: rgb(237, 14, 14) !important;
}
.delete-comment:hover {
  color: rgb(174, 4, 4) !important;
}
.add-comment {
  color: rgb(9, 215, 9) !important;
}
.add-comment:hover {
  color: rgb(6, 143, 6) !important;
}
.comment-link:hover {
  color: rgb(9, 215, 9) !important;
}

/* USERS STYLING */
.card-image-size {
  width: 18em !important;
  position: relative;
  margin: 0 auto;
}
.user-card {
  padding: 10px;
  text-align: center;
  width: 30em !important;
  position: relative;
  margin: 4px auto;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
}

.user-btn-clr {
  border-color: rgb(7, 133, 99) !important;
  background-color: rgb(4, 165, 123) !important;
  color: white !important;
  margin: 2px;
}
.user-btn-clr:hover {
  border-color: rgb(7, 133, 99) !important;
  background-color: rgb(7, 133, 99) !important;
  margin: 2px;
}

/* NAVBAR STYLING */
.centre {
  text-align: center !important;
  display: inline;
  position: relative;
  margin: 0 auto;
}

/* COMMENTS STYING */
.comment-form-box {
  position: relative;
  margin: 0 auto;
  padding: 1px 10px 1px 10px;
}
.comment-box {
  width: 99%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 2%;
  border-color: green !important;
  padding: 1px 10px 1px 10px;
}
.between-comments {
  margin-bottom: 4px !important;
}
.comment-user-name {
  width: 100%;
  text-align: left;
  border: none !important;
}
.comment-votes {
  width: 100%;
  text-align: right;
  border: none !important;
}
.comment-votes-change {
  width: 100%;
  text-align: right;
  border: none !important;
}
.comment-body {
  width: 100%;
  text-align: left;
  border: none !important;
}
.comment-delete {
  width: 100%;
  text-align: right;
  border: none !important;
}

/* USERS STYLING */
.users {
  text-align: center;
}
/* ARTICLES STYLING */
.articles-box-width {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding: 0 0 0 0 !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 2%;
  border-color: black !important;
}
.article-name {
  padding-left: 3%;
  width: 100%;
  text-align: left;
  border: none !important;
}
.article-created-by {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-belongs-to {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-votes {
  width: 100%;
  text-align: right;
  border: none !important;
}
.article-votes-change {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-comments {
  padding-left: 1%;
  width: 100%;
  text-align: left;
  border: none !important;
}
.article-comments-add {
  width: 100%;
  text-align: center;
  border: none !important;
}
.article-body {
  padding-left: 1%;
  padding-right: 1%;
}
.between-articles {
  margin-bottom: 10px !important;
}
